/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss ***!
  \****************************************************************************************************************/
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url(fc2b5060f7accec5cf74.ttf);
}
@font-face {
  font-family: "Finlandica";
  font-weight: 400;
  src: url(009eee27686218f24352.ttf);
}
@font-face {
  font-family: "FredokaOne-Regular";
  src: url(4aea26dd6637dfac0fac.ttf);
}
@font-face {
  font-family: "Arima";
  src: url(6e528af4e0c37a723725.ttf);
  font-weight: 500;
}
html {
  background-color: #eff1f5;
  background-color: var(--surface1, #eff1f5);
  transition: background-color 1500ms linear;
}

:root[color-mode=light] {
  --surface1: #eff1f5;
  --surface2: #ccd0da;
  --surface3: #acb0be;
  --element1: #4c4f69;
  --element2: #5c5f77;
  --element3: #6c6f85;
  --primary: #8839ef;
  --secondary: #40a02b;
  --tertiary: #e64553;
  --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
}
:root[color-mode=light] .light {
  display: none;
}
:root[color-mode=dark] {
  --surface1: #1e1e2e;
  --surface2: #45475a;
  --surface3: #585b70;
  --element1: #cdd6f4;
  --element2: #bac2de;
  --element3: #a6adc8;
  --primary: #89b4fa;
  --secondary: #a6e3a1;
  --tertiary: #fab387;
  --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
}
:root[color-mode=dark] .dark {
  display: none;
}
:root[color-mode=dark] .search-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(102%);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.color-mode-btn {
  display: flex;
  place-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #acb0be;
  background-color: var(--surface3, #acb0be);
}
header span {
  font-family: "FredokaOne-Regular";
  display: flex;
  color: #e64553;
  color: var(--tertiary, #e64553);
  align-self: center;
  margin: 1rem;
  font-size: 2rem;
}

#bird-icon {
  max-width: 1.5rem;
  margin-left: 0.25rem;
}

.search {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-left: 3rem;
}

.search-icon {
  cursor: pointer;
  margin-left: 0.25rem;
}
.search-icon:hover {
  transform: scale(1.05);
}

.search-container {
  margin-top: 25vh;
  align-self: center;
  width: fit-content;
}

.search-done {
  margin-top: 5vh;
  transition-duration: 2s;
}

.search-error {
  padding-top: 0.5rem;
  color: #ff4d4d;
  font-size: 1.2rem;
  font-family: "Roboto-Regular";
  text-align: center;
}

.spinner {
  transform: scale(1.5);
}

.spinner-contrast {
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(329deg) brightness(108%) contrast(108%);
}

input[type=text] {
  font-family: "Roboto-Regular";
  font-size: 1.5rem;
  padding: 0.25rem;
  border: 0;
  outline: 2px solid;
  outline-color: #acb0be;
  outline-color: var(--surface3, #acb0be);
  color: #4c4f69;
  color: var(--element1, #4c4f69);
  background-color: #ccd0da;
  background-color: var(--surface2, #ccd0da);
}
input[type=text]::placeholder {
  color: #5c5f77;
  color: var(--element2, #5c5f77);
  opacity: 0.6;
}

#container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 8vh;
}
main span {
  color: #5c5f77;
  color: var(--element2, #5c5f77);
}

.weather-icon {
  max-width: 50%;
  place-self: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  place-self: center;
  padding: 2.5rem;
  padding-top: 1.5rem;
  gap: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
  color: #5c5f77;
  color: var(--element2, #5c5f77);
  background-color: #acb0be;
  background-color: var(--surface3, #acb0be);
  color: #5c5f77;
  color: var(--element2, #5c5f77);
  font-family: "Roboto-Regular";
  text-transform: capitalize;
}

.bird-info {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.bird-details {
  place-self: center;
  width: 50%;
  font-family: "Arima";
  background-color: #ccd0da;
  background-color: var(--surface2, #ccd0da);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.bird-name {
  color: #8839ef;
  color: var(--primary, #8839ef);
  text-align: center;
  font-size: 3rem;
}

.bird-description {
  color: #4c4f69;
  color: var(--element1, #4c4f69);
  word-wrap: wrap;
  font-size: 1.15rem;
  line-height: 1.3rem;
}

.bird-image {
  max-width: 50vw;
  flex-basis: 5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.location {
  text-align: center;
  font-size: 2rem;
  color: #6c6f85;
  color: var(--element3, #6c6f85);
}

.country {
  text-align: center;
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #5c5f77;
  color: var(--element2, #5c5f77);
}

.temperature {
  font-size: 1.2rem;
  color: #8839ef;
  color: var(--primary, #8839ef);
}

.humidity {
  font-size: 1.2rem;
  color: #40a02b;
  color: var(--secondary, #40a02b);
}

.weather {
  font-size: 1.4rem;
  text-align: center;
  color: #e64553;
  color: var(--tertiary, #e64553);
}

.time {
  padding-top: 0.5rem;
  color: #4c4f69;
  color: var(--element1, #4c4f69);
  font-size: 1.1rem;
}

.color-mode-btn {
  align-self: center;
  margin-right: 2rem;
  height: 1.5rem;
  width: 1.2rem;
  background-color: #eff1f5;
  background-color: var(--surface1, #eff1f5);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #5c5f77;
  color: var(--element2, #5c5f77);
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Roboto-Regular";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.12rem 0.5rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.color-mode-btn:hover {
  background-color: #ccd0da;
  background-color: var(--surface2, #ccd0da);
}
.color-mode-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (max-width: 768px) {
  .color-mode-btn {
    padding: 0.75rem 1.5rem;
    font-size: 14px;
    margin-right: 10px;
  }
  #header-text {
    font-size: 18px;
  }
  .search-error {
    font-family: 1rem;
  }
  input[type=text] {
    font-size: 1.1rem;
  }
  .bird-name {
    font-size: 1.5rem;
  }
  .bird-details {
    width: 90%;
    padding: 0.25rem;
  }
  .bird-image {
    max-width: 100vw;
    max-height: 100vh;
  }
}
@media (max-width: 500px) {
  .bird-image {
    max-width: 80vw;
  }
  .bird-details {
    width: 90%;
    padding: 0.25rem;
  }
}
