@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

$colors: (
  'surface1': #e6e6e6,
  'surface2': #f2f2f2,
  'surface3': #ffffff,
  'element1': #111111,
  'element2': #222222,
  'element3': #333333,
  'elementInverse': #eee,
  'primary': #2b2a69,
  'secondary': #0f5b5d,
  'tertiary': #fff7d6,
  'error': #ff4d4d,
);

@mixin color-var($property, $color) {
  #{$property}: map-get($colors, '#{$color}');
  #{$property}: var(--#{$color}, map-get($colors, '#{$color}'));
}

html {
  @include color-var(background-color, surface1);
}

:root {
  &[color-mode='light'] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --primary: #2b2a69;
    --secondary: #0f5b5d;
    --tertiary: #fff7d6;
    --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  }

  &[color-mode='light'] .light {
    display: none;
  }

  &[color-mode='dark'] {
    --surface1: #212529;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --primary: #5856d7;
    --secondary: #1ca7aa;
    --tertiary: #fbe8a1;
    --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  }

  &[color-mode='dark'] .dark {
    display: none;
  }

  &[color-mode='dark'] .search-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(102%);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-mode-btn {
  display: flex;
  place-items: center;
}

/* Dark mode
 .search-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(102%);
} */

.search {
  display: flex;
}

.search-icon {
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.search-error {
  color: red;
  font-size: 1.2rem;
  font-family: 'Roboto-Regular';
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='text'] {
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
}
