@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('../fonts/FredokaOne-Regular.ttf');
}

$colors: (
  'surface1': #eff1f5,
  'surface2': #ccd0da,
  'surface3': #acb0be,
  'element1': #4c4f69,
  'element2': #5c5f77,
  'element3': #6c6f85,
  'primary': #8839ef,
  'secondary': #40a02b,
  'tertiary': #e64553,
);

@mixin color-var($property, $color) {
  #{$property}: map-get($colors, '#{$color}');
  #{$property}: var(--#{$color}, map-get($colors, '#{$color}'));
}

html {
  @include color-var(background-color, surface1);
  transition: background-color 1500ms linear;
}

:root {
  &[color-mode='light'] {
    --surface1: #eff1f5;
    --surface2: #ccd0da;
    --surface3: #acb0be;
    --element1: #4c4f69;
    --element2: #5c5f77;
    --element3: #6c6f85;
    --primary: #8839ef;
    --secondary: #40a02b;
    --tertiary: #e64553;
    --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  }

  &[color-mode='light'] .light {
    display: none;
  }

  &[color-mode='dark'] {
    --surface1: #1e1e2e;
    --surface2: #45475a;
    --surface3: #585b70;
    --element1: #cdd6f4;
    --element2: #bac2de;
    --element3: #a6adc8;
    --primary: #89b4fa;
    --secondary: #a6e3a1;
    --tertiary: #fab387;
    --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  }

  &[color-mode='dark'] .dark {
    display: none;
  }

  &[color-mode='dark'] .search-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(102%);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.color-mode-btn {
  display: flex;
  place-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  @include color-var(background-color, surface3);
  & span {
    font-family: 'FredokaOne-Regular';
    display: flex;
    @include color-var(color, tertiary);
    align-self: center;
    margin: 1rem;
    font-size: 2rem;
  }
}

#bird-icon {
  max-width: 1.5rem;
  margin-left: 0.25rem;
}

.search {
  display: flex;
  justify-content: start;
}

.search-icon {
  cursor: pointer;
  margin-left: 0.25rem;
  &:hover {
    transform: scale(1.05);
  }
}

.search-container {
  margin-top: 25vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.search-done {
  margin-top: 5vh;
  transition-duration: 2s;
}

.search-error {
  padding-top: 0.5rem;
  color: #ff4d4d;
  font-size: 1.2rem;
  font-family: 'Roboto-Regular';
}

.spinner {
  transform: scale(1.5);
}

.spinner-contrast {
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(329deg) brightness(108%) contrast(108%);
}

input[type='text'] {
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  padding: 0.25rem;
  border: 0;
  outline: 2px solid;
  @include color-var(outline-color, surface3);
  @include color-var(color, element1);
  @include color-var(background-color, surface2);
  &::placeholder {
    @include color-var(color, element2);
    opacity: 0.6;
  }
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 8vh;
  & span {
    margin-left: 5vw;
    @include color-var(color, element2);
  }
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.bird-info {
  display: flex;
  flex-direction: column;
}

.color-mode-btn {
  align-self: center;
  margin-right: 2rem;
  height: 1.5rem;
  width: 1.2rem;
  @include color-var(background-color, surface1);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  @include color-var(color, element2);
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Roboto-Regular';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.12rem 0.5rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  &:hover {
    @include color-var(background-color, surface2);
  }
  &:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

@media (max-width: 768px) {
  .color-mode-btn {
    padding: 0.75rem 1.5rem;
    font-size: 14px;
    margin-right: 10px;
  }

  #header-text {
    font-size: 18px;
  }

  .search-error {
    font-family: 1rem;
  }

  input[type='text'] {
    font-size: 1.1rem;
  }
}
